$dark: (
  bg-primary: #0d1117,
  bg-secondary: #12171f,
  bg-accent: #161d27,

  icon: #d3d3d3,
  icon-glow: #d3d3d36e,

  text-accent: #fff,
  text-primary: #d3d3d3,
  text-secondary: #aeb2c2,
  text-silent: #61656e,
  text-href: #65adff,

  primary: #1d67c7,
  neutral: #515151,
  success: #289c56,
  warning: #ccaa3a,
  danger: #ac3737,
  critical: #af1492,

  separator-primary: #21262d,
  separator-secondary: #23232b,
);