$dark: (
  bg: #0d1117,
  icon: #d3d3d3,
  icon-glow: #d3d3d36e,
  text: #d3d3d3,
  text-secondary: #a5a5a5,
  text-href: #2c80e0,
  success: #00b300,
  warning: #ffc107,
  error: #ff0000,

  card-bg: #161b22,
  card-border: #2f2f36,
  card-note-border: #2f2f36,
  card-note-text: grey,

  input-border: #2f2f36,
  input-outline: #acbed8,
  input-bg: #0d1117,
  input-focus-bg: rgba(43, 48, 150, 0.068),
  input-focus-outline: #6290ff,

  btn-bg: #3a3a3a85,
  btn-border: #6e6e6e,
  btn-text: rgb(201, 197, 197),
  btn-primary-bg: #205ea5,
  btn-primary-border: #2e6da4,
  btn-primary-text: #fff,
  btn-secondary-bg: #21262d,
  btn-secondary-border: #f0f6fc1a,
  btn-secondary-text: #c9d1d9,
  btn-error-bg: #21262d,
  btn-error-border: #f0f6fc1a,
  btn-error-text: #c9d1d9,

  zone-separator: #2f2f36,
  li-hovered: #181f2b,
  li-active: #253042,
);
