$light: (
  bg: #fff,
  icon: #303030,
  icon-glow: #3030308f,
  text: #000,
  text-secondary: #575757,
  text-href: #246bbb,
  success: #24bb4a,
  warning: #ffc107,
  error: #ff0000,

  card-bg: #fff,
  card-border: lightgrey,
  card-note-border: lightgrey,
  card-note-text: grey,

  input-border: #e0e0e0,
  input-outline: #acbed8,
  input-bg: rgba(255, 255, 255, 0),
  input-focus-bg: rgba(110, 112, 146, 0.068),
  input-focus-outline: #80aef0,

  btn-bg: #fff,
  btn-border: #ccc,
  btn-text: #333,
  btn-primary-bg: #246bbb,
  btn-primary-border: #2e6da4,
  btn-primary-text: #fff,
  btn-secondary-bg: #fff,
  btn-secondary-border: #ccc,
  btn-secondary-text: #575757,
  btn-error-bg: #fff,
  btn-error-border: #ccc,
  btn-error-text: #333,

  zone-separator: lightgrey,

  li-hovered: #eeeeee,
  li-active: #e2e2e2,
);
