$light: (
  bg-primary: #fff,
  bg-secondary: #f2f2f2,
  bg-accent: #dddddd,

  icon: #303030,
  icon-glow: #3030308f,

  text-accent: #000,
  text-primary: #272729,
  text-secondary: #575757,
  text-silent: #8d8d8d,
  text-href: #246bbb,

  primary: #1a73e8,
  neutral: #7a7a7a,
  success: #289c56,
  warning: #ebbe2d,
  danger: #ac3737,
  critical: #af1492,

  separator-primary: #c2c2c2,
  separator-secondary: #dedede,
);