@import "../themes/dark";
@import "../themes/light";

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .standard-btn {
      &:hover {
        background-color: lighten(map-get($theme-map, btn-bg), 10%);
      }

      background-color: map-get($theme-map, btn-bg);
      border: 1px solid map-get($theme-map, btn-border);
      color: map-get($theme-map, btn-text);
      font-size: 14px;
      display: flex;
      column-gap: 10px;
      font-weight: 400;
      line-height: 1.42857;
      padding: 6px 12px;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      outline: 0;
      border-radius: 6px;
      -webkit-transition: background-color all 0.3s ease-in-out;
      -moz-transition: background-color all 0.3s ease-in-out;
      -ms-transition: background-color all 0.3s ease-in-out;
      -o-transition: background-color all 0.3s ease-in-out;
      transition: background-color all 0.3s ease-in-out;
    }

    .circle-btn {
      &:hover {
        border: 1px solid map-get($theme-map, btn-border);
      }
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0);
      padding: 0;
      cursor: pointer;
    }

    .undecorated-btn {
      background-color: rgba(0, 0, 0, 0);
      color: inherit;
      border: 0;
      cursor: pointer;
    }

    .standard-btn,
    .circle-btn {
      &.primary {
        &:hover {
          background-color: lighten(map-get($theme-map, btn-primary-bg), 10%);
          color: #fff;
        }
        background-color: map-get($theme-map, btn-primary-bg);
        border-color: map-get($theme-map, btn-primary-border);
        color: map-get($theme-map, btn-primary-text);
      }
      &.secondary {
        &:hover {
          background-color: lighten(map-get($theme-map, btn-secondary-bg), 10%);
        }
        background-color: map-get($theme-map, btn-secondary-bg);
        border-color: map-get($theme-map, btn-secondary-border);
        color: map-get($theme-map, btn-secondary-text);
      }
      &.error {
        &:hover {
          background-color: #e05a5a;
          color: #fff;
        }
        background-color: map-get($theme-map, btn-error-bg);
        border-color: map-get($theme-map, btn-error-border);
        color: map-get($theme-map, btn-error-text);
      }
      &.soft {
        &:hover {
          background-color: lighten(map-get($theme-map, btn-secondary-bg), 10%);
          border-color: map-get($theme-map, btn-secondary-border);
        }
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        color: map-get($theme-map, btn-secondary-text);
        transition: background-color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      &.shadow:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      &.href {
        text-decoration: none;
      }
    }

    .btn-icon {
      display: block;
    }
  }
}

@include themable(light, $light);
@include themable(dark, $dark);
