@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}

@keyframes float {
  0% {
    rotate: 0deg;
    translate: 0 0;
  }

  50% {
    rotate: 5deg;
    translate: 0 -10%;
  }

  100% {
    rotate: 0deg;
    translate: 0 0;
  }
}