@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lobster&family=Righteous&family=Rock+Salt&display=swap');

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  height: auto;
}

html,
body,
main,
#root {
  min-width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color ease .2s, color ease .2s;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}