@import "./sass/pages/default";
@import "./sass/themes/light";
@import "./sass/themes/dark";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    body {
      background-color: map-get($theme-map, bg);
      color: map-get($theme-map, text);
    }

  }
}

input,
button,
textarea,
:focus {
  outline: none;
}